<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Icons CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="/styles/styles.css" type="text/css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/uxfunctions.js"></script>

  </head>
  <body>
    <%- include partials/nav.ejs %>
  <header> </header>
  <main>

    <h2 class="center-align">STRUMMER</h2>
    <p class="center-align subtext"> Best guitars to be rock star</p>

    <div class="row">
      <div class="right filter">
        <form action="../items/filter" method="POST">
          
         <div class="left min">
          <label for="min">Min:</label>
          <input type="text" id="min" name="min">
        </div>
        <div class="right max">
          <label for="max">Max:</label>
          <input type="text" id="max" name="max">
        </div> 
        <div class="button">
          <button class="btn waves-effect waves-light btn-small" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
        </form>

     </div>
    </div>
  
    <div class="row">
      <%   for (let product of products) {  %>

      <div class="col s4 m4 ">
        <div class="card medium box">
          <div class="card-image">
            <a target="_blank" href="/item.ejs">
              <img src= '<%= product.image %>' alt="guitar">
            </a>

          </div>

            <% if (product) { %>
              <div class="card-content">
                <label for="brand" class="itemunit cardunit">Brand: <%= product.brand %> </label>
                <label for="price" class="itemunit cardunit">Price:  <%= product.price %> </label>
                <p> <%= product.description %>
                </p>
              

              </div>
        
            <% } %>



          <div class="card-action">
            <% if (  product.sold ) { %>
              <a href= "#" class="waves-effect waves-light btn-small"><i class="material-icons left"></i>SOLD</a>
            <% } else { %>
              <a href= "/items/<%= product.items_id%>" class="waves-effect waves-light btn-small"><i class="material-icons left">attach_money</i>BUY</a>
            <% } %> 
            <a class="btn-floating btn-small waves-effect waves-light red lighten-2 right fav" ><i class="material-icons " >favorite</i></a>
            <a href="mailto:admin@strummer.com" target="_blank" class="btn-floating btn-small waves-effect waves-light red lighten-2 right "><i class="material-icons ">email</i></a>
          </div>
        </div>

      </div>
      <% } %>
  </main>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">STRUMMER</h5>
          <p class="grey-text text-lighten-4">Strummer is guitar marketplace where you can obtain best guitars to become rockstar.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Post</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Copyright STRUMMER

      </div>
    </div>
  </footer>

</body>
</html>
