<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
<link rel="stylesheet" href="/styles/styles.css" type="text/css" />

 <!-- Icons CSS -->
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/uxfunctions.js"></script>


  </head>

  <body>
    <%- include partials/nav.ejs %>
    <div class="row center-align">
      <h2>STRUMMER</h2>
    </div>

    <div class="row">
      <div class="col s10 offset-s1">
        <div class="col s6">
          <img src="<%= item.image %>" alt="guitar" width="350" height="400">
        </div>
        <div class="col s4">
          <h3>$<%= item.price %></h3>
          <table class="itemstable">
            <form action="/items/<%= item.items_id %>" method="POST">
            <label for="brand" class="itemunit">Brand: <%= item.brand %></label><br>
            <label for="price" class="itemunit">Price: $<%= item.price %></label><br>
            <label for="product_number" class="itemunit"> Product_number: <%= item.product_number %></label><br>
            <label for="condition" class="itemunit">Condition: <%= item.condition %></label><br>
            <label for="image" class="itemunit">Image: <%= item.image %></label><br>
            <label for="description" class="itemunit lastitem">Description: <%= item.description %></label><br>
            <a class="waves-effect waves-light btn-small center-align sold"><i class="material-icons left sold">attach_money</i>BUY</a>
            <button type="submit" name="action" class="waves-effect waves-light btn-small center-align"><i class="material-icons left">attach_money</i>DELETE</button>
          </form>
          </table >
        </div>
      </div>

    </div>


  </body>

</html>
